<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BilancioContext" connectionString="data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\Bilancio_1.mdf;initial catalog=Bilancio_Test2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Bilancio_1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;C:\Users\mauro.MESIS\Documents\Visual Studio 2013\Projects\Bilancio\Bilancio\App_Data\Bilancio_1.mdf&quot;;initial catalog=Bilancio_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Bilancio_1Entities1" connectionString="metadata=res://*/BilaTest.csdl|res://*/BilaTest.ssdl|res://*/BilaTest.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;C:\Users\mauro.MESIS\Documents\Visual Studio 2013\Projects\Bilancio\Bilancio\App_Data\Bilancio_1.mdf&quot;;initial catalog=Bilancio_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>